apres_texto@CHARSET "ISO-8859-1";

none {}

/* ===== Body ===== */

html, body {
	height: 100%;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;

	background-color:  #efefef !important;
}

html, * {
	margin: 0;
	padding: 0;
}

a img, a * img {border:0px}


/* ===== Estrutura ===== */

#topoOLD {
	width: 100%;
	height: 55px;
	text-align: left;

	background-color: #f2f2f2 !important;
	background: -moz-linear-gradient(#667495, #f2f2f2);
	background: -webkit-gradient(linear, left top, left bottom, from(#667495), to(#f2f2f2));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#667495', endColorstr='#f2f2f2');
}

#topo {
	width: 100%;
	height: 55px;
	text-align: left;

	background-color: #f2f2f2 !important;
	background: url(../images/topo_gradiente.gif);
}

.ft1 a:link{
	color: red;
	text-decoration:underline;
}

#barra_naveg {
	width: 100%;
	height: 31px;

	color: #ffffff;
	text-align: left;

	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;

	background-color: #7B89AA !important;
	background: -moz-linear-gradient(#7B89AA, #495677);
	background: -webkit-gradient(linear, left top, left bottom, from(#7B89AA), to(#495677));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7B89AA', endColorstr='#495677');
}

.linha_horizontal {
	height: 1px;
	width: 100%;
	background-color: #bcbcbc;
}

#wrap {
	width:100%;
	height: auto !important;
	/* Necessario para alguns browsers modernos */
	height: 100%; /* Para o Internet Explorer */
	min-height: 100%; /* Necessario para alguns browsers modernos */
	position: relative;
}

#content {
	width: 100%;
	clear: both;
}

#rodape {
	padding-bottom: 10px;
	width: 100%;
	position: absolute;
	bottom: 0 !important;
	bottom: -1px; /* Resolve eventuais problemas de largura no IE */
	text-align: center;

	border-top: 1px solid #bcbcbc;

	background-color: #7B89AA !important;
	background: -moz-linear-gradient(#7B89AA, #495677);
	background: -webkit-gradient(linear, left top, left bottom, from(#7B89AA), to(#495677));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7B89AA', endColorstr='#495677');
}

.linha_horizontal_rodape {
	margin-bottom: 10px;
	height: 1px;
	width: 100%;
	background-color: #ffffff;
}

/* ======== Internas ======== */

/* ---------- Topo ---------- */

#logo {
	width: 190px;
	height: 40px;
	float: left;
}

#usuario {
	width: 340px;
	height: 26px;
	text-align: right;
	padding: 14px 10px 0px 0px;
	float: right;
}

/* ---------- Menu Horizontal ---------- */

.menu_vertical {
	padding: 10px;
	width: 160px;

	background-color: #ffffff !important;
	background: url(../images/menu_vert_gradiente.gif) repeat-y;
	


	border-color: #bcbcbc;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
}

.menu_verticalOLD {
	padding: 10px;
	width: 160px;

	background-color: #ffffff !important;
	background: -moz-linear-gradient(right, #ffffff, #667495);
	background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#667495));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#667495');

	border-color: #bcbcbc;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
}

.itemMenuVertical {
	
	font-size: 11px;
	
}

/* ---------- Menu Horizontal ---------- */

#menu_h_1 {
	width: 260px;
	height: 22px;
	padding: 9px 0px 0px 10px;
	text-align: left;
	float: left;
}

#menu_h_2 {
	width: 97px;
	height: 22px;
	padding: 9px 10px 0px 0px;
	background: url(../images/bg_menu_faleconosco.gif) no-repeat;
	text-align: right;
	float: right;
}

/* ---------- Barra de Acessibilidade ---------- */

#caminho_naveg {
	width: 360px;
	height: 22px;
	padding: 9px 0px 0px 10px;

	color: #ffffff;
	text-align: left;
	float: left;
}

#barra_acess {
	width: 224px;
	height: 24px;
	padding: 5px 6px 0px 0px;
	text-align: right;
	float: right;
}

#cont1 {
	width: 100%;
	padding: 10px 0px 23px 0px;
}

#cont2 {
	width: 100%;
	padding: 0px 0px 0px 0px;
}

/* ---------- MENU ---------- */

#box_menu {
	width: 148px;
	margin: 0 auto;
}

#box_opcoes {
	width: 100%;
	margin-bottom: 6px;
	clear: both;
}

#box_sub_opcoes {
	margin-bottom: 6px;
	padding-left: 23px;
	clear: both;
}

.box_img_menu {
	/* background: url(../images/bg_menu.jpg) no-repeat; */
}

/* ---------- Tela de Apresentação ---------- */

#apres2 {
	width: 450px;
	height: 280px;
	/* background: url(../images/img_apresentacao.jpg) no-repeat; */
	margin: 0 auto;
	
	
	padding: 10px;

	background-color: #ffffff !important;
	background: -moz-linear-gradient(right, #ffffff, #667495);
	background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#667495));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#667495');

	border-color: #bcbcbc;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 1px 10px 10px 1px;
	
}

#apres {
	width: 450px;
	height: 280px;
	background: url(../images/principal_apres.gif) no-repeat;
	
	
	margin: 0 auto;
	padding: 10px;

	background-color: #ffffff !important;

}


#apres_texto {
	width: 440px;
	padding: 10px 0px 0px 15px;
	/*float: right;*/
}

#apres_cap {
	width: 560px;
	text-align: right;
	padding-bottom: 10px;
	margin: 0 auto;
	clear: both;
}

/* ---------- GRADE ---------- */

.grade {
	background: #F2F2F2;
}

/* ------- Consulta ------- */

#grd_result {
	width: 275px;
	height: 18px;
	background: #CFE4DB;
	padding: 5px 0px 0px 5px;
	border: #D7942F 1px solid;
	margin-bottom: 5px;
}

#grd_desc {
	height: 17px;
	padding: 5px 0 0 8px;
	background: #bcdecd;
	margin-bottom: 4px;
}

#grd_consult {
	width: 98%;
	height: 70px;
	background: #cfe4db;
	padding: 15px 1% 0 1%;
	margin-bottom: 1px;
}

#grd_consult_campo {
	width: 100%;
	margin-bottom: 5px;
}

#grd_botao {
	width: 160px;
	padding: 12px 0px 0px 5px;
	float: left;
	margin-bottom: 5px;
}

.gridLegendImg {
	padding: 0 2px 0 10px;
	border: none;
}
.gridLegendDesc {
	font-size: 11px;
	font-weight: bold;
}

.col_actions {
	text-align: center;
}

/* ------- Pesquisa ------- */

#grd_pesquisa {
	width: 98%;
	padding: 8px 1% 3px 1%;
	background: #CFE4DB;
	margin-bottom: 4px;
}

#grd_pesquisa_campo {
	width: 100%;
	margin-bottom: 3px;
}

#grd_pesquisa_campo img {
	border: 0;
}

#grd_pesquisa_campo1 {
	width: 230px;
	text-align: left;
	margin-bottom: 5px;
}

#grd_pesquisa_campo2 {
	width: 100%;
	margin-bottom: 5px;
}

#grd_pesq_result {
	width: 100%;
	margin-bottom: 1px;
}

#grd_pesq_result img {
	border: 0;
}

#grd_botao_novo {
	width: 200px;
	float: left;
	text-align: right;
	padding-top: 10px;
	margin-bottom: 5px;
}

.botao {
	padding: 1px 20px;
	margin: 0 5px;
}

/* ------- Cadastro ------- */

#grd_cadastro {
	width: 98%;
	height: 160px;
	background: #F2F2F2;
	padding: 15px 1% 0 1%;
	margin-bottom: 1px;
}


.asteristicoForm2 {
	margin-right: 2px;
	margin-left: 2px;
	color: red;
	font-weight: bold;
}


/* colunas */

.clAsteristico {
	width: 1%;	
}

.col10{
	border: #DFDFDF 1px solid;
	text-align: center;
	width: 10%;	
}
.col50{
	border: #DFDFDF 1px solid;
	text-align: center;
	width: 50%;	
}

.cl10 {
	width: 10%;	
}

.cl12Label {
	width: 12%;	
	padding: 0 15 0 3px;
	border: #DFDFDF 2px solid;
	text-align: right;	
}

.cl12Label_l {
	width: 12%;	
	padding: 0 15 0 3px;
	border: #DFDFDF 2px solid;
	text-align: left;	
}


.cl15 {
	width: 15%;	
	/*background: #006400;*/
}

.cl20 {
	width: 20%;	
	padding: 0 0 0 3px;
	border: #DFDFDF 2px solid;
}

.cl20Label {
	width: 20%;	
	padding: 0 15 0 3px;
	border: #DFDFDF 2px solid;
	text-align: right;	
}

.cl20Label_l {
	width: 29%;	
	padding: 0 15 0 3px;
	border: #DFDFDF 2px solid;
	text-align: left;	
}


.cl20p {
	width: 20%;	
}

.cl20_sub {
	width: 20%;	
	padding: 0 0 0 3px;
	background: #F2F2F2;
	/*border: #DFDFDF 2px solid;*/
}

.cl25 {
	width: 24%;	
	padding: 0 0 0 3px;
	border: #C4E3F4 2px solid;	
}

.cl25_view {
	width: 24%;
	padding: 0 0 0 3px;
	background: #DFDFDF;
}

.cl30 {
	width: 30%;
}

.cl34 {
	width: 34%;	
	/*border: #DFDFDF 1px solid;*/
}

.cl35 {
	width: 35%;	
	padding: 0 0 0 3px;
	background: #DFDFDF;
	/*border: #DFDFDF 1px solid;*/
}
.cl35_sub {
	width: 35%;	
	padding: 0 0 0 3px;
	background: #DFDFDF;
	/*border: #C4E3F4 2px solid;*/
}

.cl30_view {
	width: 29%;
	padding: 0 0 0 3px;
	background: #DFDFDF;
}

.cl45 {
	width: 45%;	
	padding: 0 0 0 3px;
	border: #C4E3F4 2px solid;
}


.cl40 {
	width: 50%;	
	/*background: #FF0000;*/
}

.cl40_view {
	width: 40%;
	padding: 0 0 0 3px;
	background: #DFDFDF;
}

.cl50 {
	width: 50%;	
	/*background: #FF0000;*/
}

.cl60 {
	width: 60%;	
}
.cl70 {
	width: 70%;	
}


.cl65_view {
	width: 65%;
	padding: 0 0 0 3px;
	background: #DFDFDF;
}

.cl65_view_2 {
	width: 65%;
	padding: 0 0 0 3px;
	background: #EAF9FF;
}
.cl65 {
	width: 65%;
	padding: 0 0 0 3px;
}

.cl70 {
	width: 69%;
}

.cl75 {
	width: 74%;
	/*background: #FF0000;*/	
}

.cl80 {
	width: 79%;
	/*border: #DFDFDF 1px solid;*/
}

.cl80_view {
	width: 79%;
	padding: 0 0 0 3px;
	background: #DFDFDF;
}


.cl80_r {
	width: 79%;
	text-align: right; 
	border: #DFDFDF 1px solid;
}

.cl85 {
	width: 84%;
	/*background: #FF0000;*/	
}

.cl90 {
	width: 90%;
	/*background: #FF0000;*/	
}

.cl90_view {
	width: 89%;
	padding: 0 0 0 3px;
	background: #DFDFDF;
}
.cl100 {
	width: 99%;	
	padding: 0 0 0 3px;
	background: #DFDFDF;
	/*border: #DFDFDF 1px solid;*/
}


/* Formatacao de formularios */
.compon_cadastro {
	/**background-color: #FFFFFF;*/
	margin: 1px 0px 1px 0px;
	/*text-transform: uppercase;*/
}

.compon_cadastro_sub {
	margin: 1px -4px;
	/*text-transform: uppercase;*/
}


/* Formatacao de paineis de visualizacao */



/*PANEL*/

.view_label {

}

.view_output {
	
}

.view_output {
	
}

.view_imput {
	
}

/* SUBPANEL */
.sub_column_1 {
	width: 35%;	
	padding: 0 0 0 3px;
	/*background: #DFDFDF;*/
	/*border: #DFDFDF 1px solid;*/
}

.sub_column_1 .compon_cadastro {
	margin: 1px -5px;
}

.sub_column_2 {
	width: 20%;	
	padding: 0 0 0 3px;
	background: #F2F2F2;
	/*border: #DFDFDF 2px solid;*/
}
.sub_column_3 {
	width: 35%;	
	padding: 0 0 0 3px;
/*	background: #DFDFDF;*/
	/*border: #C4E3F4 2px solid;*/
}


.compon_cadastro_modal {
	margin: 1px 1px 1px 0px;
}

.compon_cadastro_modal {
	margin: 1px 1px 1px 0px;
}



/* ------- Grade com Abas ------- */

#grd_doc_topo {
	width: 100%;
}

#grd_doc_abas1 {
	width: 24%;
	height: 22px;
	padding-top: 6px;
	text-align: center;
	background: #cfe4db;
	float: left;
	margin-right: 1%;
}

#grd_doc_abas2 {
	width: 25%;
	height: 22px;
	padding-top: 6px;
	text-align: center;
	background: #cfe4db;
	float: right;
}

#grd_doc_cont {
	width: 100%;
	border-top: #e9f9ff 2px solid;
	background: #D7E8CE;
	clear: left;
}

.colMenu, .colContent, .colSpace {
	padding-top: 10px;
	padding-bottom: 50px;
	vertical-align: top;
}

.colMenu {
	width: 165px;
}

.colSpace {
	width: 10px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: red;
	vertical-align: middle;
}

img.errors {
	padding-right: 5px;
}

.errors input {
	border: 1px solid red;
}

.errors textarea {
	border: 1px solid red;
}

.required {
	color: red;
	padding-left: 2px;
}

#areaMensagem {
	padding: 5px;
	margin-bottom: 10px;
	max-width: 40%;

	background-color: #FDFCDC;
	border: 1px solid #FFCC00;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.message_error {
	color: #CC0000;
	white-space: nowrap;
}

.message_fatal {
	color: #CC0000;
	white-space: nowrap;
}

.message_warn {
	color: #B8860B;
	white-space: nowrap;
}

.message_info {
	color: #000080;
	white-space: nowrap;
}

/* Util */

.tableRightColumn {
	text-align: right;
}

/* fragments */
.display_prop {
	width:100%;
	/*background: red;*/
}
.display_name {
	width:50%;
	/*background: black;*/
}
.display_value {
	width:50%;
	/*background: blue;*/
}

