#set ($package = ${data.config.mainPackage})
package ${package}.dto.application;

import java.util.List;

import org.jboss.seam.ScopeType;
import org.jboss.seam.annotations.Name;
import org.jboss.seam.annotations.Scope;

import br.gov.pa.muiraquita.converter.annotations.PropertyMap;
import br.gov.pa.muiraquita.dto.AbstractDto;

@Name("loggedUserDto")
@Scope(ScopeType.CONVERSATION)
public class LoggedUserDto extends AbstractDto {

  private Long id;
  private String nome;
  private String login;
  private String cpf;

  // login
  private Boolean trocouSenha;
  private List<String> cenarios;

  public LoggedUserDto() {
    super();
  }

  public void setId(Long id) {
    this.id = id;
  }

  public Long getId() {
    return id;
  }

  public void setNome(String nome) {
    this.nome = nome;
  }

  public String getNome() {
    return nome;
  }

  public void setLogin(String login) {
    this.login = login;
  }

  public String getLogin() {
    return login;
  }

  public void setTrocouSenha(Boolean trocouSenha) {
    this.trocouSenha = trocouSenha;
  }

  public Boolean getTrocouSenha() {
    return trocouSenha;
  }

  public void setCpf(String cpf) {
    this.cpf = cpf;
  }

  public String getCpf() {
    return cpf;
  }

  public List<String> getCenarios() {
    return cenarios;
  }

  public void setCenarios(List<String> cenarios) {
    this.cenarios = cenarios;
  }
}