#set ($basePackage = ${data.config.mainPackage})
#set ($modelName = ${data.crud.name})
#set ($lowercasedModelName = $stringUtils.unCapitalizeFirstLetter(${data.crud.name}))
package ${basePackage}.dao;

import java.util.List;

import ${basePackage}.entity.${modelName};
import ${basePackage}.dto.${modelName}Dto;

import br.gov.pa.muiraquita.persistence.dao.IDao;
import br.gov.pa.muiraquita.exception.BusinessException;
import br.gov.pa.muiraquita.exception.InternalException;
import br.gov.pa.muiraquita.exception.SystemException;

public interface I${modelName}Dao extends IDao<${modelName}, Integer> {

}

