SYSTEM_NAME=${data.config.artifactId}

DEBUG_MENSAGENS=true
FIREFOX_MINIMAL_VERSION_SUPORTED=3.5
IE_MINIMAL_VERSION_SUPORTED=7.0
OPERA_MINIMAL_VERSION_SUPORTED=9.64
CHROME_MINIMAL_VERSION_SUPORTED=4.1
SAFARI_MINIMAL_VERSION_SUPORTED=531.22

